@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kavoon&display=swap');

:root {
    --primary: #FFF5E4;
    --secondary: #2B3D4F;
    --tertiary: #1C7A8E;
    --light: white;
    --dark: #444;
    font-family: Inter, Verdana, Tahoma, sans-serif;
}

/* Personalized colors */

.color-secondary {
    color: var(--secondary);
}

.color-tertiary {
    color: var(--tertiary);
}

.bk-secondary {
    color: var(--secondary);
}

.bk-tertiary {
    color: var(--tertiary);
}


/* Structure */

body {
    background-color:  var(--primary);
}

h1 {
    font-family: Kavoon, Verdana, Tahoma, sans-serif;
    color: var(--secondary);
}

.logo {
    height: 40px;
}

.title {
    font-family: 'Kavoon', cursive;
    font-size: 62px;
    color: #2B3D4F;
    margin-top: 25px; /* Distance from the top */
    margin-bottom: 90px; /* Distance between title and description */
}

.description {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #2B3D4F;
    margin-bottom: 70px;
    line-height: 1.5;
    max-width: 800px;
}

.registration-form {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.btn-primary {
    background-color: #2B3D4F;
    border-radius: 20px;
    border: none;
    font-size: 18px;
}

.btn-primary:hover {
    background-color: #1F2A35;
}

.signin-prompt a {
    color: #1C7A8E;
    text-decoration: none;
}

.signin-prompt a:hover {
    text-decoration: underline;
}
