@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kavoon&display=swap');

:root {
    --primary: #FFF5E4;
    --secondary: #2B3D4F;
    --tertiary: #1C7A8E;
    --light: white;
    --dark: #444;
    font-family: Inter, Verdana, Tahoma, sans-serif;
}

/* Personalized colors */

.color-secondary {
    color: var(--secondary);
}

.color-tertiary {
    color: var(--tertiary);
}

.bk-secondary {
    background-color: var(--secondary);
}

.bk-tertiary {
    color: var(--tertiary);
}


/* Structure */

body {
    background-color: var(--primary);
}

h1 {
    font-family: Kavoon, Verdana, Tahoma, sans-serif;
    color: var(--secondary);
}



/* Planning */

.no-border {
    border: none;
}

hr {
    width: 50px;
    margin: auto;
}